<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>

<form [formGroup]="form" (keyup)="log()">
  <ion-item></ion-item>
  <ion-item>
    <ion-label floating>username</ion-label>
    <ion-input formControlName="username" type="text"></ion-input>
  </ion-item>
  <div *ngIf="username.invalid && username.touched">
    <div *ngIf="username.errors.required" class="error">
      username is required
    </div>
    <div *ngIf="username.errors.minlength" class="error">
      username length must be minimum 3 characters
    </div>
    <div *ngIf="username.errors.cannotContainSpace" class="error">
      cannot contane space
    </div>

  </div>

  <ion-item>
    <ion-label floating>email</ion-label>
    <ion-input formControlName="email" type="text"></ion-input>
  </ion-item>
  <div *ngIf="email.invalid && email.touched" class="error">
    email is invalid
  </div>

  <ion-item>
    <ion-label floating>password</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>

</form>
<button ion-button full (click)="register()" id="button">register</button>
