<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>

  <form padding #f="ngForm" (ngSubmit)="submit(f)">
    <ion-item>  
      <ion-input
      minlength="3"
      required
      type="text"
      ngModel
      #user="ngModel"p
      (keyup)="log(user)"
      name="username"
      placeholder="username"></ion-input>
    </ion-item>
    <ion-item>  
      <ion-input
      minlength="3"
      required
      type="text"
      ngModel
      #user="ngModel"p
      name="username"
      placeholder="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
      #email="ngModel"
      required
      type="email" 
      ngModel 
      name="email" 
      placeholder="Email Input"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
      minlength="3"
      required
      type="password" 
      ngModel 
      name="password" 
      placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <div>password incorect</div>
      <ion-input
      required
      type="password" 
      ngModel 
      name="password2" 
      placeholder="Repeate Password"></ion-input>
    </ion-item>
    <!-- <h4 *ngIf="!user.valid && user.touched">user not valid</h4> -->
    <!-- <h4 *ngIf="!email.valid && email.touched">email not valid</h4>s -->
    <button ion-button full (click)="register()" [disabled]="!f.valid" id="button">register</button>

  </form>
